.menu-header {
    /* Location of the image */
    background-image: url(./header.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center top;

    /* Background image doesn’t tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
    background-attachment: fixed;

    /* Set a background color that will be displayed
while the background image is loading */
    background-color: #eaebec;
}

nav {
    background: #eaebec;
    opacity: 0.7;
    min-height: 85px;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

section {
	  background-color: #ffffff;
	  min-height: 100vh;
	  padding: 100px;
	  position: relative;
	  width: 100%;
	  z-index: 10;
}

.margin-400 {
	  margin-bottom: 400px;
}

footer {
    /* Location of the image */
    background-image: url(./footer.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center bottom;

    /* Background image doesn’t tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
    background-attachment: fixed;

    /* Set a background color that will be displayed
while the background image is loading */
	  background-color: #262626;

	  bottom: 0;
	  color: white;
	  display: flex;
    font-size: 2.8em;
    align-items: center;
    justify-content: center;
	  height: 400px;
	  position: fixed;
	  width: 100%;
	  z-index: 1;
}

footer div {
    width: auto;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	  .navbar .nav-item .dropdown-menu{ display: none; }
	  .navbar .nav-item:hover .nav-link{ color: #fff;  }
	  .navbar .nav-item:hover .dropdown-menu{ display: block; }
	  .navbar .nav-item .dropdown-menu{ margin-top:0; }
    footer div { width: 600px; }
}
/* ============ desktop view .end// ============ */
